* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}


.mode {
    width: 70px;
    height: 35px;
    background-color: black;
     border-radius: 50px ;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
     padding: 5px;
     
}

.mode-moon {
    width: 25px;
    height:25px;
    background-image: url("moon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mode-sun {
    width: 25px;
    height:25px;
    background-image: url("sun.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.mode-ball {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    left: 5px;

}